@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "Poppins", serif;
}


#root{
display: flex;
}

.lightmode{
  --color:black;
  --background-color: white;
  --btn-background-color:black;
  --btn-color:white;
  --hover-btn-background-color:rgba(0, 0, 0, 0.563);
}
.darkmode{
  --color:white;
  --background-color: rgb(23, 32, 33);
  --btn-background-color:white;
  --btn-color:black;
  --hover-btn-background-color:rgba(255, 255, 255, 0.59);
}
@media (max-width:600px) {
  .seperation{
    display: none;
  }
}